<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

</head>

<body>
  <!-- Main Navbar Start -->
  <nav class="navbar navbar-expand-sm bg-teal navbar-dark text-white">
    <div class="container">
      <a href="#" class="navbar-brand">
        <i class="fa fa-plane-departure"></i> Taravel Yaari</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#travel-navnar" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      <div class="collapse navbar-collapse" id="travel-navnar">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item px-3">
            <a class="nav-link" href="index.html">Home</a>
          </li>
          <li class="nav-item px-3">
            <a class="nav-link" href="#search">Search</a>
          </li>
          <li class="nav-item px-3">
            <a class="nav-link" href="#places">Visiting Spots</a>
          </li>
          <li class="nav-item px-3">
            <a class="nav-link" href="#gallery">Gallary</a>
          </li>
          <li class="nav-item px-3">
            <a class="nav-link" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Main Navbar End -->

  <!-- Slider Section  Start -->
  <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="0" class="active" aria-current="true"
        aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="assets/imges/slider_one.jpg" class="img-fluid w-100" alt="...">
        <div class="carousel-caption animated zoomIn delay-1s">
          <h5 class="display-5">Feel The Joy</h5>
          <p class="lead">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente
            a ratione aut adipisci voluptatibus sequi excepturi aspernatur et,
            saepe incidunt nisi quis sint voluptates animi, nesciunt eos illo,
            ad possimus.
          </p>
          <button class="btn btn-teal text-white">Read More</button>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="assets/imges/slider_two.jpg" class="img-fluid w-100" alt="...">
        <div class="carousel-caption animated zoomIn delay-1s">
          <h5 class="display-5">Ultimate Destination</h5>
          <p class="lead">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente
            a ratione aut adipisci voluptatibus sequi excepturi aspernatur et,
            saepe incidunt nisi quis sint voluptates animi, nesciunt eos illo,
            ad possimus.
          </p>
          <button class="btn btn-teal text-white">Read More</button>
        </div>
      </div>
      <div class="carousel-item " data-bs-interval="3000">
        <img src="assets/imges/slider_three.jpg" class="img-fluid w-100" alt="...">
        <div class="carousel-caption animated zoomIn delay-1s">
          <h5 class="display-5">Enjoy The Nature</h5>
          <p class="lead">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente
            a ratione aut adipisci voluptatibus sequi excepturi aspernatur et,
            saepe incidunt nisi quis sint voluptates animi, nesciunt eos illo,
            ad possimus.
          </p>
          <button class="btn btn-teal text-white">Read More</button>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!-- Slider Section  End-->

  <!-- Search Section Start -->

  <section id="search" class="bg-teal p-3">
    <div class="container">
      <div class="row">
        <div class="col">
          <h4 class="display-4 text-white">Search Your Destination</h4>
          <p class="lead text-white">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit,
            repellat! Maiores repellat provident sed nulla. Modi placeat
            repellendus quas deserunt officia beatae vero consectetur
            doloremque commodi earum, aperiam natus maxime.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <form action>
            <div class="form-group">
              <input type="search" class="form-control" placeholder="Search Your Destination" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <!-- Search Section End -->

  <!-- Cards Section Start-->

  <section id="cards" class="p-4 bg-body-secondary">
    <div class="container">
      <div class="row">
        <div class="col-sm-4 col-md-4 mt-3">
          <div class="card text-center">
            <div class="card-body">
              <i class="fa fa-location-arrow fa-4x text-teal"></i>
              <p class="h2">Pick Location</p>
              <p class="lead">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Dolor, nulla rerum rem quisquam recusandae sed quas voluptas
                exercitationem numquam quidem !
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-md-4 mt-3">
          <div class="card text-center">
            <div class="card-body">
              <i class="fa fa-building fa-4x text-teal"></i>
              <p class="h2">Shope Travel</p>
              <p class="lead">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Dolor, nulla rerum rem quisquam recusandae sed quas voluptas
                exercitationem numquam quidem !
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-md-4 mt-3">
          <div class="card text-center">
            <div class="card-body">
              <i class="fa fa-plane-departure fa-4x text-teal"></i>
              <p class="h2">Fly Cheap</p>
              <p class="lead">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Dolor, nulla rerum rem quisquam recusandae sed quas voluptas
                exercitationem numquam quidem !
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Cards Section End -->

  <!-- Popular Places Start -->
  <section id="places" class="">
    <div class="container">
      <div class="row text-center">
        <div class="col">
          <h5 class="display-4">Popular Places</h5>
          <p class="lead">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Repudiandae, odio?
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="card">
            <img src="assets/imges/card_1.jpg" alt="" class="img-fluid" />
            <div class="card-body">
              <h3 class="card-title">Munnar,Kerala</h3>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod
                adipisci provident commodi, voluptate qui ipsa doloribus
                aspernatur vero totam accusantium animi officia. Vel maxime
                quos debitis voluptate laudantium quidem ipsa.
              </p>
              <button class="btn btn-teal btn-sm text-white">
                Read More
              </button>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <img src="assets/imges/card_2.jpg" alt="" class="img-fluid" />
            <div class="card-body">
              <h3 class="card-title">Alappuza ,kerala</h3>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod
                adipisci provident commodi, voluptate qui ipsa doloribus
                aspernatur vero totam accusantium animi officia. Vel maxime
                quos debitis voluptate laudantium quidem ipsa.
              </p>
              <button class="btn btn-teal btn-sm text-white">
                Read More
              </button>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <img src="assets/imges/card_3.jpg" alt="" class="img-fluid" />
            <div class="card-body">
              <h3 class="card-title">PondiCherry</h3>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod
                adipisci provident commodi, voluptate qui ipsa doloribus
                aspernatur vero totam accusantium animi officia. Vel maxime
                quos debitis voluptate laudantium quidem ipsa.
              </p>
              <button class="btn btn-teal btn-sm text-white">
                Read More
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col text-center">
          <button class="btn btn-dark btn-lg">
            <i class="fa fa-play mr-2"> Start Booking</i>
          </button>
        </div>
      </div>
    </div>
  </section>
  <!-- Popular Places End -->

  <!-- Social Icons Section  Sart  -->

  <section id="icons" class="bg-teal m-3">
    <div class="container">
      <div class="row text-center text-white">
        <div class="col">
          <h4 class="display-4">Follow Travel Yari</h4>
          <p class="lead">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae,
            officia.
          </p>
          <div class="col">
            <i class="fab fa-facebook-square fa-4x m-3"></i>
            <i class="fab fa-youtube fa-4x m-3"></i>
            <i class="fab fa-twitter fa-4x m-3"></i>
            <i class="fab fa-google-plus-square fa-4x m-3"></i>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Social Icons Section  End  -->

  <!-- Gallary Section Start -->

  <section id="gallery" class="p-3">
    <div class="container">
      <div class="row">
        <h1 class="text-center text-teal">Photo Gallery</h1>
        <div class="col-sm-3 p-2">
          <img src="assets/imges/gallery_1.jpg" alt="" class="img-fluid" />
        </div>
        <div class="col-sm-3 p-2">
          <img src="assets/imges/gallery_2.jpg" alt="" class="img-fluid" />
        </div>
        <div class="col-sm-3 p-2">
          <img src="assets/imges/gallery_3.jpg" alt="" class="img-fluid" />
        </div>
        <div class="col-sm-3 p-2">
          <img src="assets/imges/gallery_4.jpg" alt="" class="img-fluid" />
        </div>
        <div class="col-sm-3 p-2">
          <img src="assets/imges/gallery_5.jpg" alt="" class="img-fluid" />
        </div>
        <div class="col-sm-3 p-2">
          <img src="assets/imges/gallery_6.jpg" alt="" class="img-fluid" />
        </div>
        <div class="col-sm-3 p-2">
          <img src="assets/imges/gallery_7.jpg" alt="" class="img-fluid" />
        </div>
        <div class="col-sm-3 p-2">
          <img src="assets/imges/gallery_8.jpg" alt="" class="img-fluid" />
        </div>
        <div class="col-sm-3 p-2">
          <img src="assets/imges/gallery_9.jpg" alt="" class="img-fluid" />
        </div>
        <div class="col-sm-3 p-2">
          <img src="assets/imges/gallery_10.jpg" alt="" class="img-fluid" />
        </div>
        <div class="col-sm-3 p-2">
          <img src="assets/imges/gallery_11.jpg" alt="" class="img-fluid" />
        </div>
        <div class="col-sm-3 p-2">
          <img src="assets/imges/gallery_12.jpg" alt="" class="img-fluid" />
        </div>
        <div class="col-sm-3 p-2">
          <img src="assets/imges/gallery_13.jpg" alt="" class="img-fluid" />
        </div>
        <div class="col-sm-3 p-2">
          <img src="assets/imges/gallery_14.jpg" alt="" class="img-fluid" />
        </div>
        <div class="col-sm-3 p-2">
          <img src="assets/imges/gallery_15.jpg" alt="" class="img-fluid" />
        </div>
        <div class="col-sm-3 p-2">
          <img src="assets/imges/gallery_16.jpg" alt="" class="img-fluid" />
        </div>
      </div>
    </div>
  </section>
  <!-- Gallary Section End -->

  <!-- Contact Section Start -->

  <section id="contact" class="p-3">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 mt-3">
          <div class="card">
            <div class="card-body bg-teal text-center text-white">
              <i class="fa fa-envelope fa-4x"></i>
              <h2>Contact for Booking</h2>
              <p class="lead">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. At,
                ipsam. Assumenda nam corrupti laboriosam reiciendis quo harum
                beatae, quasi perferendis eveniet consequatur deserunt iste,
                officiis accusamus cum facere? Expedita, dolor?
              </p>
            </div>
          </div>
          <ul class="list-group">
            <li class="list-group-item">
              <h1>Location</h1>
            </li>
            <li class="list-group-item">Travel Yaari pvt ltd</li>
            <li class="list-group-item">Jubilee Hils,Hyderabad</li>
            <li class="list-group-item">Telangana ,India</li>
          </ul>
        </div>
        <div class="col-sm-6 mt-3">
          <div class="card">
            <div class="card-header text-center bg-teal text-white">
              <h2>Contact Us</h2>
            </div>
            <div class="card-body bg-secondary">
              <form>
                <div class="form-group p-2">
                  <input type="text" class="form-control" placeholder="Name" />
                </div>
                <div class="form-group p-2">
                  <input type="text" class="form-control" placeholder="Email" />
                </div>
                <div class="form-group p-2">
                  <input type="text" class="form-control" placeholder="Mobile Number" />
                </div>
                <div class="form-group p-2 ">
                  <input type="text" class="form-control" placeholder="Loved Destination" />
                </div>
                <div class="form-group p-2">
                  <textarea class="form-control" placeholder="Description" rows="4"></textarea>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Contact Section End -->

  <!-- Main Footer Start-->
  <footer class="p-3 bg-teal text-white text-center">
    <div class="container">
      <div class="row">
        <div class="col">
          <h3> Copyright &copy;2023,Travel Yaari Pvt Ltd</h3>
          <h6>All Rihgt Reserved</h6>
          <h6>Developed and Maintained by UiBrains Technologies</h6>
        </div>
      </div>
    </div>
  </footer>
  <!-- Main Footer End-->
</body>
</html>
